<div class="container">
    <h1>{{titulo}}</h1>
    <br>
    <br>
    <!-- <ul>
        <li *ngFor="let usuario of usuarios">
            <span *ngIf="usuario.nombre.length > 0"><b>Nombre:</b> {{usuario.nombre}}</span><br>
            <span *ngIf="usuario.apellido.length > 0"><b>Apellido:</b> {{usuario.apellido}}</span>
            <hr>
        </li>
    </ul> -->

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                    <td *ngIf="usuario.nombre.length > 0"> {{usuario.nombre}}</td>
                    <td *ngIf="usuario.apellido.length > 0"> {{usuario.apellido}}</td>
            </tr>
        </table>
</div>

